.GUI-overlay {
    position: absolute;
    top: 100px;
    display: flex;
    flex-flow: column nowrap;
    z-index: 401;
    margin: 10px;
    justify-content: space-around;
    justify-items: center;
    height: 100px;
}

.GUI-overlay > * {
    display: block;
    flex: auto 1 1;
    margin: 5px;
    padding: 10px;
}