.GUI-overlay {
    display: flex;
    flex-flow: row nowrap;
    z-index: 401;
    margin: 10px;
    justify-content: space-around;
    justify-items: center;
}

.GUI-overlay > * {
    display: block;
    flex: auto 1 1;
    margin: 5px;
    padding: 10px 20px;
    height: fit-content;
}

.drawer-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.drawer-button {
    position: fixed;
    bottom: 0;
    z-index: 401;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.ant-drawer-body {
    padding: 0 !important;
    overflow-y: hidden !important;
}

Drawer {
    height: 400px !important;
}

.list-wrapper {
    overflow-y: hidden;
    height: calc(max(45%, 350px));
}

.ant-drawer-content-wrapper {
    display: flex;
    flex-flow: row nowrap ;
    justify-content: space-around;
    background-color: rgba(0,0,0,0);
    width: 100%;
    box-shadow: none !important;
}

.ant-drawer-content-wrapper > div {
    max-width: 700px;
    flex: auto 0 1;
    background-color: white;
    box-shadow: 0 -6px 16px 0 rgba(0, 0, 0, 0.08),0 -3px 6px -4px rgba(0, 0, 0, 0.12),0 -9px 28px 8px rgba(0, 0, 0, 0.05);
}